In [2]:
# Load the data

import pandas as pd
df = pd.read_csv(r"D:\python\Pandas Data Science\pokemon_data.csv")

In [3]:
# Now we can print
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [ ]:
# We can print as much we want

print(df.head(5))

In [ ]:
# Reading data  in pandas
# Read header

print(df.columns)

In [ ]:
#  Read the specific columns

print(df["Name"][0:5])

In [ ]:
# Read Multiple colums name
print(df[['Name', 'Type 1', 'HP']])

In [ ]:
# Print the each row

print(df.head(4))

In [ ]:
print(df.iloc[1:4])

In [ ]:
# Read the specific location
print(df.iloc[2,1])

In [ ]:
# Printing the index , row(more important)
'''
for index,row in df.iterrows():
    print(index,row)
# finding the specific dataset
'''
df.loc[df['Type 1']=='Fire']

In [ ]:
# sorting / describing the data

df.describe()
df

# We can short the name by the aalphabatical order
df.sort_values('Name',ascending=True)

In [ ]:
# Give multiple parameter to sort the value
df.sort_values(['Type 1','HP'], ascending=True)

# Making Changes to the Data

In [ ]:
df['Total']=df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df.head() # Here we can see the one new columns add that sum of the abpve of the value in the output

In [ ]:
# Drop some of the columns
df=df.drop(columns=['Total'])
df.head(5)

In [ ]:
#different way to sum of the number

df['Total']=df.iloc[:,4:10].sum(axis=1)
df.head(5)

# Modified CVS saved in the local disk

In [ ]:
df.to_csv("modified.csv",index=False)

In [ ]:
# Save into the text file

df.to_csv("modified.txt", index= False, sep='\t')

# Filtering the Data

In [ ]:
new_df=df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison')& (df['HP']>70)]
# new_df.to_csv('Filtered_data.csv')
df=new_df.drop(new_df.index[0])
print(df)

In [ ]:
# filter by the name "Mega" contain in there name
df.loc[df['Name'].str.contains('Mega')]

In [ ]:
# Filter by not conatin mega in there name
df.loc[~df['Name'].str.contains('Mega')]

In [ ]:

import re
df.loc[df['Type 1'].str.contains('Fire|Grass',flags=re.I,regex=True)]

In [ ]:

import re
df.loc[df['Name'].str.contains('pi[a-z]*',flags=re.I,regex=True)]

# Conditional Changes

In [ ]:
df.loc[df['Type 1']=='Flamer','Type 1']='Fire'
df

In [ ]:
df.loc[df['Type 1']=='Fire','Legendary']=True
df

In [ ]:
df.loc[df['Total']>500,['Generation','Legendary']]='TEST VALUE'

In [ ]:
df.loc[df['Total']>500,['Generation','Legendary']]=['Test 1','Test 2']
df

# Aggregate Statistics( Groupby)

In [8]:
import pandas as pd
df=pd.read_csv("modified.csv")
df_grouped = df.groupby("Type 1").mean(numeric_only=True)
print(df_grouped.head())

                   #         HP      Attack    Defense    Sp. Atk    Sp. Def  \
Type 1
Bug       334.492754  56.884058   70.971014  70.724638  53.869565  64.797101
Dark      461.354839  66.806452   88.387097  70.225806  74.645161  69.516129
Dragon    474.375000  83.312500  112.125000  86.375000  96.843750  88.843750
Electric  363.500000  59.795455   69.090909  66.295455  90.022727  73.704545
Fairy     449.529412  74.117647   61.529412  65.705882  78.529412  84.705882

              Speed  Generation  Legendary       Total
Type 1
Bug       61.681159    3.217391   0.000000  378.927536
Dark      76.161290    4.032258   0.064516  445.741935
Dragon    83.031250    3.875000   0.375000  550.531250
Electric  84.500000    3.272727   0.090909  443.409091
Fairy     48.588235    4.117647   0.058824  413.176471