In [ ]:
# Load the data

import pandas as pd
df = pd.read_csv(r"D:\python\Pandas Data Science\pokemon_data.csv")

In [ ]:
# Now we can print
print(df)

In [ ]:
# We can print as much we want

print(df.head(5))

In [ ]:
# Reading data  in pandas
# Read header

print(df.columns)

In [ ]:
#  Read the specific columns

print(df["Name"][0:5])

In [ ]:
# Read Multiple colums name
print(df[['Name', 'Type 1', 'HP']])

In [ ]:
# Print the each row

print(df.head(4))

In [ ]:
print(df.iloc[1:4])

In [ ]:
# Read the specific location
print(df.iloc[2,1])

In [ ]:
# Printing the index , row(more important)
'''
for index,row in df.iterrows():
    print(index,row)
# finding the specific dataset
'''
df.loc[df['Type 1']=='Fire']

In [ ]:
# sorting / describing the data

df.describe()
df

# We can short the name by the aalphabatical order
df.sort_values('Name',ascending=True)

In [ ]:
# Give multiple parameter to sort the value
df.sort_values(['Type 1','HP'], ascending=True)

# Making Changes to the Data

In [ ]:
df['Total']=df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df.head() # Here we can see the one new columns add that sum of the abpve of the value in the output

In [ ]:
# Drop some of the columns
df=df.drop(columns=['Total'])
df.head(5)

In [41]:
#different way to sum of the number

df['Total']=df.iloc[:,4:10].sum(axis=1)
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

# Modified CVS saved in the local disk

In [ ]:
df.to_csv("modified.csv",index=False)

In [44]:
# Save into the text file

df.to_csv("modified.txt", index= False, sep='\t')

# Filtering the Data

In [46]:
df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,300
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,400
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False,280
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,515
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,294
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464